#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install Splitscreen Minecraft
Exec=sh -c 'rm -f /tmp/imcss.sh && curl -s https://raw.githubusercontent.com/ArnoldSmith86/minecraft-splitscreen/refs/heads/main/install.sh -o /tmp/imcss.sh && md5sum /tmp/imcss.sh | grep -q 54c436dc9b55aaa38d8e32763629b812 && bash /tmp/imcss.sh || zenity --error --text="Downloading installer failed. Please try again."'
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false